body {
    margin: 0;
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
}


/* Start of the Navigation bar */

nav {
    width: 100vw;
    background-color: rgb(255,213,0);
    height: 12vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 5;
    border-bottom-style: solid;
}

#topNav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

nav a {
    width: 12vw;
}

#OsloMetLogo {
    width: 6em;
}

#Right-Navigation-Content {
    margin-left: 55vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

nav p {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    cursor: pointer;
}

#bottomNav {
    width: 60%;
    height: 12vh;
    background-color: rgb(255,213,0);
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    margin-left:20vw;
}

#bottomNav p {
    cursor: pointer;
    font-weight: bold;
}

#Cover {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    top: 0;

    position: fixed;
    z-index: 4;
}

/* End of Navigation Bar */

/* Start of the main content */
main {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    font-size: 3em;
    text-align: center;
}

main h2 {
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}


tr {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.Bachelor-program td {
    border-top-style: solid;
    border-width: 0.1em;
    width: 10vw;
    text-align: center;

}

td p:first-child {
    font-weight: bold;
}


section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

section table {
    position: absolute;
    border-style: solid;
    margin-left: -3vw;
}

section tr {
    margin-bottom: 2vh;
    height: 85px;
}

section td {
    border-style: solid;
    width: 100%;
    height: 100%;
    margin-top: 0.2vw;
}

.InfoSection {
    margin-left: 38vw;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,213,0);
    width: 50vw;
    height: 51vh;
}

.InfoSection p {
    margin-left: 1vw;
}

.InfoSection ul {
    list-style-type: disc;
}











.teknologiogdesign{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.teknologiogdesign div{
    background-color: rgb(255,213,0);
    width: 100%;
    padding-left: 2%;
}

.teknologiogdesign p{
    font-size: 1.2em;
}

#studenthistorier{
    background-color: rgb(255,213,0);
    width: 40%;
    padding: 1%;
    padding-right: 2%;
    margin-left: 25%;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.4s ease-in-out;
    margin-bottom: 20vh;
}

#studenthistorier:hover{
    background-color: rgb(201, 168, 3);
}

#studenthistorierknapp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* End of the main content */

/* Start of the footer */
footer{
    background-color: rgb(255,213,0);
    height: 90vh;
    position: relative;
    z-index: 0;
}

#footertop{
    border-bottom: 1px solid black;
    height: 24vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footeroverskrift{
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    font-size: 6vh; 
    width: 50%;
}

#footerknapp{
    background-color: black;
    font-weight: bold;
    color: white;
    width: 20vw;
    padding: 1.5vw;
    text-align: center;
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#footerinfo{
    display: flex;
    gap: 10vw;
    margin: 5%;
}

h2{
    font-size: 1em;
}

ul{
    list-style: none;
}

#liste{
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#liste p{
    margin-top: 0px;
    display: inline-block;
}

.lenkeliste:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    cursor: pointer;
}

#medier li{
    margin-top: 20px;
}

#logo{
    width: 5%;
    margin-left: 0%;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

  /* End of footer */