:root {
    --OsloMet-gul: rgb(255,213,0);
}

body {
    margin: 0;
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: white;
}

::-webkit-scrollbar {
    width: 0;
}

/* Start of the Navigation bar */

nav {
    background-color: var(--OsloMet-gul);
    width: 100%;
    max-width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-style: solid;
    position: relative;
    z-index: 100;
}

nav a:first-child {
    margin-left: -5vw;
}

nav a:nth-child(5) {
    display: none;
}

nav p {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    cursor: pointer;
}

#bottomNav {
    width: 100vw;
    background-color: var(--OsloMet-gul);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10;
    font-weight: bold;
}

#bottomNav a:nth-child(n) {
    display: block;
}

#Cover {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    top: 0;
    position: fixed;
    z-index: 1;
}

@media screen and (max-width: 500px) {
    nav a:nth-child(2),
    nav a:nth-child(3),
    nav a:nth-child(4) {
        display: none;
    }

    nav a:nth-child(5) {
        display: block;
    }

    #bottomNav {
        display: none;
    }

}

/* End of Navigation Bar */

/* Start of the main content */
main {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

/* Start of "Bachelor-program" table */

.Bachelor-program tr {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.Bachelor-program tr:last-child {
    padding-top: 2em;
}

.Bachelor-program td {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    border-left-style: solid;
    border-width: 0.1em;
    padding-left: 3vw;
}

td p:first-child {
    font-weight: bold;
}

@media screen and (max-width: 700px) {

    main h1 {
        font-size: 1.5em;
    }

    main h2 {
        font-size: 1.5em;
    }

    .Bachelor-program tr {
        flex-direction: column;
        gap: 3vw;
    }

    .Bachelor-program td {
        border-left-style: none;
        border-bottom-style: solid;
    }
}

/* End of "Bachelor-program" table */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

section h3 {
    margin-top: 6vh;
    font-weight: lighter;
    width: 50vw;
}

section table {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    margin-bottom: 3vh;
    border-collapse: separate;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.InfoButton {
    background-color: var(--OsloMet-gul); /* Nice yellow */
    color: #333; /* Dark text for contrast */
    font-weight: normal;
    border: 0.15em solid #e0c400;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    height: 1em;
    min-width: 10vw;
    margin: 0.25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    .wrapper {
        flex-direction: column;
    }
    
    .InfoButton {
        height: 0.1em;
    }
}

.InfoSection {
    display: none;
    border: 0.15em solid #e0c400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-height: 40vh;
    background-color: var(--OsloMet-gul);
}

.InfoSection p {
    padding: 1vw;
}

.InfoSection ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-start;
}

.moreInfoSection {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: var(--OsloMet-gul);
}

.moreInfoButton {
    cursor: pointer;
    border-bottom: 0.1em solid black;
    padding: 1em;
}

/* Styling for "Studiets oppbygging" */
menu {
    margin: 0;
    padding: 0;
}

#info-5 {
    display: none;
}

#info-5 ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    overflow: hidden;
    justify-content: space-around;
}

#info-5 li {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 1em;
    width: 10em;
    font-size: .75rem;
    font-weight: bolder;
    margin-bottom: 1em;
}

#info-5 section {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}



/* Slutt på "Studiets oppbygging" */

/* Styling for "Teknologi og design" */

.teknologiogdesign{
    background-color: var(--OsloMet-gul);
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 50vh;
    padding: 0;
}

.teknologiogdesign div {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2em;
}

.teknologiogdesign p{
    font-size: 1.2em;
}

.teknologiogdesign p:first-child{
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
}

.teknologiogdesign p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -0.5em;
}

.teknologiogdesign img {
    object-fit: cover;
    height: 100%;
    width: 45vw;
}

@media screen and (max-width: 750px) {
    .teknologiogdesign {
        height: 100%;
        flex-direction: column-reverse;
    }

    .teknologiogdesign {
        font-size: 0.8em;
    }

    .teknologiogdesign img {
        width: 100%;
        min-height: 30vh;
    }

    #info-5 ul {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50vw;
    }

    #info-5 li {
        width: 100%;
        padding-bottom: 1em;
    }
}

/* Slutt på "Teknologi og design" */
.studenthistorier {
    background-color: var(--OsloMet-gul);

    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 8em;

    cursor: pointer;

    width: 30em;
    height: 12vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.studenthistorier p {
    padding: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.Overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    left: -100%;
    transition: left 300ms;
}

.studenthistorier:hover .Overlay {
    left: 0;
    margin-left: 0;
    transition: left 300ms;
}

@media  screen and (max-width: 600px) {
    .studenthistorier {
        width: 15em;
        height: 12vh;
    }

    .studenthistorier p {
        font-size: 1rem;
    }
}

/* End of the main content */

/* Start of the footer */
footer{
    background-color: var(--OsloMet-gul);
    height: fit-content;
    min-height:30em;
    position: relative;
    z-index: 0;
    margin-bottom: 0;
}

#footertop{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footeroverskrift{
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2.5vw;
}

#footerknapp{
    background-color: black;
    font-weight: bold;
    color: white;
    width: vw;
    padding: 1vw;
    text-align: center;
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    cursor: pointer;
}

#footerinfo{
    display: flex;
    justify-content: space-around;
    margin-right: 10vw;
}

h2{
    font-size: 1em;
}

ul{
    list-style: none;
}

#liste{
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 10vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#liste p{
    margin-top: 0px;
    display: inline-block;
}

.lenkeliste:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    cursor: pointer;
}

#medier li{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#medier img {
    height: 2em;
    margin-right: .5em;
}


#logo{
    width: 5%;
    margin-left: 0%;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

  @media screen and (max-width: 500px){
    .footeroverskrift{
        font-size: 1.2rem;
        margin-left: 5vw;
    }
    #footerinfo{
        margin-left: -3vw;
        flex-direction: column;
    }
    #liste{
        margin-left: -0.5vw;
    }
    #footerknapp{
        font-size: 1rem;
        margin-left: 5vw;
        margin-bottom: 3vw;
        width: 8rem;
    }
    #footertop{
        justify-content: start;
        flex-direction: column;
        align-items: normal;
        
    }
}
     @media screen and (max-width: 700px){
    #footerinfo div:nth-child(){
        margin-left: -3vw;
        flex-direction: column;
    }
}

  /* End of footer */