body {
    margin: 0;
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: white;
}


/* Start of the Navigation bar */

nav {
    background-color: rgb(255,213,0);
    width: 100%;
    max-width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom-style: solid;
}

nav p {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    cursor: pointer;
}

/* #bottomNav {
    top: 0;
    width: 60%;
    height: 12vh;
    background-color: rgb(255,213,0);
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10;
    margin-top: 12.4vh;
}

#Cover {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    top: 0;
    position: fixed;
    z-index: 1;
} */

/* End of Navigation Bar */

/* Start of the main content */
main {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main h1 {
    font-size: 3em;
    text-align: center;
}

main h2 {
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

.Bachelor-program {
    border-bottom-style: solid;
    border-width: 0.1em;
    display: flex;
}

.Bachelor-program tr {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

.Bachelor-program td {
    border-top-style: solid;
    border-width: 0.1em;
    width: 10vw;
    text-align: center;

}

td p:first-child {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

section h3 {
    margin-top: 6vh;
    font-weight: lighter;
    width: 50vw;
}

section table {
    margin-bottom: 3vh;
}

section tr {
    display: flex;
    margin-bottom: 2vh;
    gap: 3vw;
}

section td {
    display: grid;
    place-content: center;
    border-style: solid;
    width: 100%;
    height: 100%;
    cursor: pointer;
    height: 3em;
}

.InfoSection {
    display: none;
    border-style: solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-height: 40vh;
    background-color: rgb(255,213,0);
}

.InfoSection p {
    margin-left: 1vw;
}

.InfoSection ul {
    list-style-type: disc;
}

.teknologiogdesign{
    background-color: rgb(255,213,0);
    display: flex;
    /* flex-wrap: wrap-reverse; */
    width: 92vw;
    height: 60vh;
}

.teknologiogdesign h3 {
    width: none;
}

.teknologiogdesign div {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 1em;
    justify-content: center;
}

.teknologiogdesign p{
    font-size: 1.2em;
}

.teknologiogdesign img {
    width: 45vw;
    height: 100%;
    object-fit: cover;

}




#studenthistorier{
    margin-top: 4%; 
    background-color: rgb(255,213,0);
    width: 40%;
    padding: 1%;
    padding-right: 2%;
    font-size: 1.5em;
    font-weight: bold;
    transition: background-color 0.4s ease-in-out;
    margin-bottom: 20vh;
    
}

#studenthistorier:hover{
    background-color: rgb(201, 168, 3);
}

#studenthistorierknapp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* End of the main content */

/* Start of the footer */
footer{
    background-color: rgb(255,213,0);
    height: 90vh;
    position: relative;
    z-index: 0;
}

#footertop{
    border-bottom: 1px solid black;
    height: 24vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footeroverskrift{
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    font-size: 6vh; 
    width: 50%;
}

#footerknapp{
    background-color: black;
    font-weight: bold;
    color: white;
    width: 20vw;
    padding: 1.5vw;
    text-align: center;
    font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#footerinfo{
    display: flex;
    gap: 10vw;
    margin: 5%;
}

h2{
    font-size: 1em;
}

ul{
    list-style: none;
}

#liste{
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#liste p{
    margin-top: 0px;
    display: inline-block;
}

.lenkeliste:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    cursor: pointer;
}

#medier li{
    margin-top: 20px;
}

#logo{
    width: 5%;
    margin-left: 0%;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

  /* End of footer */